@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "gupter";
}
.navbar-container {
  position: sticky;
  z-index: 3;
  top: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: #1b1b1b;
  height: 12vh;
}
.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  color: #fff;
  margin-top: 4vh;
  cursor: pointer;
}
.ver-carrito {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 3.5vh;
  cursor: pointer;
}
.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img.jpg/img.banner.jpg);
}
.banner-container {
  text-align: center;
  padding: 15% 0;
}
.banner h1 {
  margin: 0;
  color: #edfd04;
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.2);
  font-size: 70px;
  font-weight: bold;
}
.banner p {
  font-size: 30px;
  color: #edfd04;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.2);
}
header {
  background: url(img-tienda-de-reñpjes.webp);
  background-size: cover;
  background-position: center;
  height: 300px;
}
header h1 {
  text-align: center;
  font-size: 70px;
  color: #c8d600;
  padding: 30px 0;
  font-weight: bold;
}
.contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* oculto lo que queda afuera del contenedor */
  contain: paint;
}
.contenedor .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}
.contenedor .contenedor-items .item {
  max-width: 200px;
  padding: 10px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}

.contenedor-items .item:hover {
  box-shadow: 0 0 10px #666;
}

.contenedor-items .item .img-item {
  width: 100%;
}

.contenedor .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.contenedor-items .item .boton-item:hover {
  background: #666;
} 

.boton-carrito {
  width: 100%;
  margin: 10px auto;
  border: none;
  background: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.boton-carrito:hover {
  background: #666;
}

.contenedor-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-carrito .carrito {
  width: 300px;
  height: 100%;
  padding: 20px;
  border: 1px solid #666; 
  border-radius: 5px;
}

.contenedor-carrito .carrito-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
}

.contenedor-carrito .carrito-header .carrito-title {
  font-weight: bold;
  font-size: 20px;
}

.contenedor-carrito .carrito-items {
  padding-top: 10px;
}

.contenedor-carrito .carrito-items .carrito-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #666;
}

.contenedor-carrito .carrito-items .carrito-item .carrito-item-title {
  width: 200px;
}

.contenedor-carrito .carrito-items .carrito-item .carrito-item-quantity {
  display: flex;
  align-items: center;
}

.contenedor-carrito .carrito-items .carrito-item .carrito-item-quantity .restar {
  margin-right: 10px;
}

.contenedor-carrito .carrito-items .carrito-item .carrito-item-quantity .sumar {
  margin-left: 10px;
}

.contenedor-carrito .carrito-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-carrito .carrito-footer .carrito-total {
  font-size: 20px;
  font-weight: bold;
}

.contenedor-carrito .carrito-footer .carrito-pagar {
  border: none;
  background: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.contenedor-carrito .carrito-footer .carrito-pagar:hover {
  background: #666;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.modal-carrito .carrito-vacio {
  text-align: center;
  padding-top: 30px;
  color: #666;
}

.modal-carrito .carrito-vacio i {
  font-size: 100px;
  opacity: 0.3;
}

.modal-carrito .carrito-items {
  max-height: 240px;
  overflow: auto;
}

.modal-carrito .carrito-total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border-top: 1px solid #666;
  padding-top: 10px;
}

.modal-carrito .carrito-total .total-pagar {
  font-size: 20px;
  font-weight: bold;
}

.modal-carrito .carrito-pagar {
  display: block;
  border: none;
  background: black;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-carrito .carrito-pagar:hover {
  background: #666;
}

.modal-carrito .carrito-items::-webkit-scrollbar {
  width: 10px;
}

.modal-carrito .carrito-items::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}

.modal-carrito .carrito-items::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.modal-carrito .carrito-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
}

.modal-carrito .carrito-item img {
  width: 50px;
}

.modal-carrito .carrito-item .carrito-item-title {
  font-size: 20px;
}

.modal-carrito .carrito-item .carrito-item-quantity {
  font-size: 20px;
  font-weight: bold;
}

.modal-carrito .carrito-item .carrito-item-quantity .restar {
  margin-right: 10px;
  cursor: pointer;
}

.modal-carrito .carrito-item .carrito-item-quantity .sumar {
  margin-left: 10px;
  cursor: pointer;
}

.modal-carrito .carrito-item .carrito-item-precio {
  font-size: 20px;
  margin-left: 10px;
}

.modal-carrito .carrito-item .carrito-item-precio .carrito-item-subtotal {
  font-weight: bold;
}

.modal-carrito .carrito-item .carrito-item-elimina {
  font-size: 25px;
  color: red;
  cursor: pointer;
}

.modal-carrito .carrito-item .carrito-item-elimina:hover {
  color: #666;
}

.modal-carrito .carrito-item .carrito-item-elimina .carrito-item-elimina:hover {
  color: black;
}

.modal-active .modal-contenedor {
  transform: translate(0);
} 

.modal-carrito .carrito-item .carrito-item-elimina .carrito-item-elimina:hover {
  color: black;
}
footer {
  background-color: burlywood;
  padding: 1rem 2rem;
  text-align: center;
}
